<div class="col-md-6 col-lg-3">
  <div class="team-item mb-0" data-wow-delay=".25s">
    <div class="team-img">
      {% if gprep_item.image_url %}
        <img src="{{ gprep_item.image_url }}" alt="{{ gprep_item.image_alt ?: gprep_item.title }}">
      {% endif %}
    </div>
    <div class="team-content">
      <div class="team-bio">
        <h5>{{ gprep_item.title }}</h5>
        {% if gprep_item.person_role %}
          <span>{{ gprep_item.person_role }}</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
